<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Gameplay focused developer with industry experience in both the Unity Engine and the Unreal Engine, specializing in creating performant, polished, and engaging gameplay mechanics for players and developers alike. I have contributed a vast variety of projects from PlanetSmith (Incandescient Games) - an open world game based on hex-grid voxel style spherical planet, to Axon (Exsurgo) - a revolutionary new device to help chronic pain sufferers, and Wanderer (Mighty Eyes) - a time travel VR game. Where I contributed to unique gameplay systems and refined existing systems to create the most seamless and immersive experience possible.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Holding a Bachelor of Software Engineering from Media Design School, I have worked collaboratively in multiple different teams and team sizes to create works of art that I can be proud of. My hands-on experience working with Unity ECS, Unity Jobs, enhancing and extending custom Unity editor tools, has allowed me to deliver high quality gameplay features that have been well-received by both players and developers alike.
        </p>
      </div>
      <!--<div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
  </div>
</section>
