<!-- Portfolio Grid Section -->
<section id="current-work">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Current Work</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="img/CurrentWork.png" alt="An screenshot of my current project.">
        <p>
          <strong>Avaliable for Hire.</strong> 
          Currently working on my own personal project. Using real world terrain data to duplicate real world nature walks within Unreal Engine. The game is a relaxing walking simulator game that creates a visualisation of depression and a replication of what they may be experiencing, such as negative thought patterns, colourless worlds, and how hard simple decisions can become. I am also creating a visualisation of how their mood can shape their perspective of the world. It also explores the restorative impact of exploring nature and how exercise can benefit mental and physical health.
        </p>
      </div>
    </div>
  </div>
</section>
